In [92]:
from sklearn.datasets import load_iris
import pandas as pd
import numpy as np

from sklearn.tree import DecisionTreeClassifier , plot_tree
import matplotlib.pyplot as plt

from sklearn.metrics import accuracy_score

from mlxtend

In [2]:
data = load_iris()

In [3]:
data.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [4]:
data.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [67]:
d = { "sepal_width" : data.data[50:,1],
     "petal_length" : data.data[50:,2], "Species": np.array( [ i  for i in data.target if i > 0]) }

d['sepal_width'].shape

(100,)

In [68]:
df = pd.DataFrame(data= d)
df

    sepal_width  petal_length  Species
0           3.2           4.7        1
1           3.2           4.5        1
2           3.1           4.9        1
3           2.3           4.0        1
4           2.8           4.6        1
..          ...           ...      ...
95          3.0           5.2        2
96          2.5           5.0        2
97          3.0           5.2        2
98          3.4           5.4        2
99          3.0           5.1        2

[100 rows x 3 columns]

In [70]:
# now we will shuffel the data frame 
df = df.sample(df.shape[0])
df

    sepal_width  petal_length  Species
28          2.9           4.5        1
13          2.9           4.7        1
4           2.8           4.6        1
91          3.1           5.1        2
29          2.6           3.5        1
..          ...           ...      ...
48          2.5           3.0        1
94          3.3           5.7        2
25          3.0           4.4        1
95          3.0           5.2        2
47          2.9           4.3        1

[100 rows x 3 columns]

In [71]:
# we will now create a data for training and testing 

df_train = df.iloc[:60, :].sample(10)
df_test = df.iloc[61:,:].sample(5)

In [84]:
# now create a first tree 

df_t = df_train.sample(8, replace= True )

X_train = df_t.iloc[:,:-1]
y_train = df_t.iloc[:,-1]

dt = DecisionTreeClassifier()
e1 = evaluate(dt, X_train, y_train)

In [87]:
# now create a second tree 

df_t = df_train.sample(8, replace= True )

X_train = df_t.iloc[:,:-1]
y_train = df_t.iloc[:,-1]

dt = DecisionTreeClassifier()
e2 = evaluate(dt, X_train, y_train)

In [88]:
# now create a third tree 

df_t = df_train.sample(8, replace= True )

X_train = df_t.iloc[:,:-1]
y_train = df_t.iloc[:,-1]


dt = DecisionTreeClassifier()
e3 = evaluate(dt, X_train, y_train)

In [ ]:
def evaluate(model , X_train, y_train):
    model.fit(X_train, y_train)
    plot_tree(model)
    plt.show()